
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    background-color: #636b6f;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    line-height: normal;
}

.debug{
    position: absolute;
    top: 40px;
    left: 0;
    color: rgb(255, 255, 255);
    background: rgb(0, 128, 0);
    padding: 10px;
    z-index: 10000;
    opacity: .1;
    & a{
        color: #fff;
    }
    &:hover{
        opacity: 1;
    }
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    font-weight: 100;
}

.m-b-md {
    margin-bottom: 30px;
}
.ageid-notice{
    font-size: 16px;
}
.no-script {
  .message {
    font-size: 35px;
  }
}

.modal-content {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
}

#ageIdModal{
    top: 20px;
}

@media screen and (min-width: 420px) {
    .modal-dialog {
        width: 400px;

    }
}
